@model IEnumerable<ShopCar.Model.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaKm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URLAnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiSP.TenLoai)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.SanPham1.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanPham2.TenSP)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaKm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.URLAnh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiSP.TenLoai)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.SanPham1.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SanPham2.TenSP)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaSP }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaSP }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaSP })
        </td>
    </tr>
}

</table>
