@model IEnumerable<ShopCar.Model.PhieuNhap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhaCC.TenNCC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhaCC.TenNCC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPN }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPN })
        </td>
    </tr>
}

</table>
